
body{
  background: url(https://blue-ttt.github.io/colorfulebina/背景.png);
  font-family:"ヒラギノ丸ゴ ProN",sans-serif;
  color:#FFFFFF;
}

h1{
  color:#fff;
}

.card {
width: 300px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  overflow: hidden;
  font-family: sans-serif;
  transition: transform 0.3s;
  color:#000
}

.card-container{
  display: flex;
  flex-wrap: wrap;      /* 画面幅に合わせて折り返す */
  justify-content: center; /* 中央寄せ */
  gap: 20px;            /* カード同士の隙間 */
  padding: 20px;
}

/* ボタンのスタイル */
.card-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #E83929;
  color: #fff;
  padding:10px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.card-img {
  width: 100%;
  object-fit: cover;             /* 画像のアスペクト比を保つ */
}
