
body{
  background: url(https://blue-ttt.github.io/colorfulebina/背景.png);
  font-family:"ヒラギノ丸ゴ ProN",sans-serif;
  color:#FFFFFF;
}

h1{
  color:#fff;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 12px;           /* 角を丸くする */
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); /* ふんわりした影 */
  overflow: hidden;              /* 画像の角も丸めるため */
  font-family: sans-serif;
  transition: transform 0.3s;    /* ホバー時の動きを滑らかに */
}

/* ボタンのスタイル */
.card-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #E83929;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
}
.card-img {
  width: 100%;
  object-fit: cover;             /* 画像のアスペクト比を保つ */
}
